div.stats-bar {
  background-color: white;
  height: 4em;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

fa-icon {
  margin-right: 3px;
}
