<div class="stats-bar">
  <div class="stat">
    <span class="label">Power: </span>
    <span class="value">{{ power }}</span>
  </div>
  <div class="stat">
    <span class="label">Acceleration: </span>
    <span class="value">{{ acceleration }}</span>
  </div>
  <div class="stat">
    <span class="label">Grip: </span>
    <span class="value">{{ grip }}</span>
  </div>
  <div class="stat">
    <span class="label">Handling ability: </span>
    <span class="value">{{ maniability }}</span>
  </div>
  <div class="stat">
    <span class="label">Weight: </span>
    <span class="value">{{ weight }}</span>
  </div>
  <div class="stat">
    <span class="label">Wear: </span>
    <span class="value">{{ wear }}</span>
  </div>
  <div class="stat">
    <span class="label">Energy: </span>
    <span class="value">{{ energy }}</span>
  </div>
</div>
