<div class="container">
  <div class="title-bar">
    <h1>Boutique</h1>
    <input type="text" placeholder="Rechercher..." [(ngModel)]="searchQuery" (ngModelChange)="search($event)" [disabled]="fetchStatus !== 'success'">
  </div>
  <div class="page-content" *ngIf="fetchStatus === 'loading'">
    <app-spinner></app-spinner>
  </div>
  <div *ngIf="fetchStatus === 'success'" class="shop-grid">
    <app-item-card *ngFor="let item of displayedItemList" [item]="item" [displayButtonBuy]="true" (buyItem)="buyItem(item)"></app-item-card>
  </div>
</div>

