<nav id="menu">
  <div class="links">
    <div class="menu-item">
      <div class="menu-text">
        <a routerLink="/dashboard" routerLinkActive="active">Inventaire</a>
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <a routerLink="/race" routerLinkActive="active">Courses</a>
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <a routerLink="/shop" routerLinkActive="active">Boutique</a>
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-text">
        <a routerLink="/statistics" routerLinkActive="active">Statistiques</a>
      </div>
    </div>
  </div>

  <div class="info" *ngIf="fetchStatus === 'loading'">
    <app-spinner></app-spinner>
  </div>

  <div class="info" *ngIf="fetchStatus === 'success'">
    <div class="menu-counter menu-coins">
      <span>
        {{ ourTeam.coin }} <fa-icon [icon]="faCoins"></fa-icon>
      </span>
    </div>
    <div class="menu-counter menu-score">
      <span>
        {{ ourTeam.score }} <fa-icon [icon]="faTicket"></fa-icon>
      </span>
    </div>
    <div class="menu-teamname">
      {{ ourTeam.name }}
    </div>
  </div>

</nav>
