<div class="card">
  <div class="card-header">
    <span class="item-title">
      {{ item.name }}
    </span>
    <span class="item-price">
      {{ item.sellingPrice }} <fa-icon [icon]="faMoneyBill"></fa-icon>
    </span>
    <span>
      <fa-icon [icon]="faInfoCircle"></fa-icon>{{ item.type }}
    </span>
  </div>
    <img *ngIf="displayImage" [src]="item.image"[alt]='item.name' (click) = changeDisplay() >
  <div  *ngIf="!displayImage"  (click) = changeDisplay() >
    <div *ngFor="let stat of item.statistiques">
        <span class="caract">{{stat.type}} : {{stat.value}}</span>
    </div>
  </div>

  <div class="card-footer">
    <button *ngIf="displayButtonBuy && !item.alreadyInInventory" class="buy" (click)="buyItem.emit()">Acheter</button>
    <button *ngIf="displayButtonBuy && item.alreadyInInventory" class="bought">Déjà acheté</button>
    <button *ngIf="displayButtonEquip && !isEquipped" (click)="equipItem.emit()">Equiper</button>
    <button *ngIf="displayButtonSell && !isEquipped" (click)="sellItem.emit()">Vendre</button>
    <fa-icon *ngIf="isEquipped" [icon]="faCheck"></fa-icon>
  </div>
</div>
