div.page-content {
  width: 100%;
  height: 100%;

  app-spinner {
    margin-top: 2em;
  }
}

div.top-bar {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .unit-run {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
  }
}

div.configuration-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  div.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    div.input-bar {
      margin-top: 1em;
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      input {
        border: none;
        border-radius: 8px;
        padding: 8px;
      }
    }
  }
}

@media screen and (max-width: 1450px) {
  div.configuration-container {
    flex-direction: row;

    div.input-group {
      div.input-bar {
        flex-direction: column;
        gap: 1em;
      }
    }
  }
}

div.result {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: black;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  border-radius: 8px;
  margin-top: 8px;

  div.result-info {
    span.time {
      margin-right: 8px;
    }
  }
}

div.no-result {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
