<div class="container">
  <h1>Simulateur</h1>

  <div class="page-content" *ngIf="fetchStatus === 'loading'">
    <app-spinner></app-spinner>
  </div>

  <div class="page-content" *ngIf="fetchStatus === 'success' || fetchStatus === 'fetchResult'">
    <div class="top-bar">
      <!--<app-flat-button (click)="runAll()">Lancer toutes les courses</app-flat-button>-->
      <div class="unit-run">
        <select class="combobox" [(ngModel)]="raceNumber">
          <option *ngFor="let race of raceList" [value]="race.id">{{ race.name }}</option>
        </select>
        <app-flat-button (click)="onStart()">Lancer la course</app-flat-button>
      </div>
    </div>

    <h2>Configuration</h2>

    <div class="configuration-container">

      <div class="input-group">
        <div class="input-group">
          <div class="input-bar">
            <label class= "label">Puissance</label>
            <label class= "label">Accélération</label>
            <label class= "label">Adhérence</label>
            <label class= "label">Maniabilité</label>
            <label class= "label">Poids</label>
            <label class= "label">Usure</label>
            <label class= "label">Consommation</label>
          </div>
        </div>
        <div class="input-bar">
          <input class= "input" placeholder="Puissance" min="0" max="60" type="number" [(ngModel)]="power"/>
          <input class= "input" placeholder="Accélération" min="0" max="60" type="number" [(ngModel)]="acceleration"/>
          <input class= "input" placeholder="Adhérence" min="0" max="60" type="number" [(ngModel)]="grip"/>
          <input class= "input" placeholder="Maniabilité" min="0" max="60" type="number" [(ngModel)]="maniability"/>
          <input class= "input" placeholder="Poids" min="0" max="100" type="number" [(ngModel)]="weight"/>
          <input class= "input" placeholder="Usure" min="0" max="100" type="number" [(ngModel)]="wear"/>
          <input class= "input" placeholder="Consommation" min="0" max="60" type="number" [(ngModel)]="energy"/>
        </div>
      </div>
    </div>

    <h2 *ngIf="raceResult">Résultats</h2>

    <div class="page-content" *ngIf="fetchStatus === 'fetchResult'">
      <app-spinner></app-spinner>
    </div>

    <div *ngIf="runResultList && runResultList.length > 0">
      <div class="result-list">
        <div class="result" *ngFor="let result of runResultList">
          <span>{{ result.race.name }}</span>
          <div class="result-info" *ngIf="result.time">
            <span class="time"><fa-icon [icon]="clock"></fa-icon> {{ result.time }}</span>
            <span class="medal" *ngIf="result.medal"><fa-icon [icon]="faMedal"></fa-icon> {{result.medal}}</span>
            <span class="medal" *ngIf="!result.medal"><fa-icon [icon]="fail"></fa-icon> Aucune</span>
          </div>
          <div class="result-info" *ngIf="!result.time">
            Non terminé
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!raceResult" class="no-result">
      Aucun résultat
      </div>
      <div *ngIf="raceResult && selectedRace">
        <span  class="time"><fa-icon [icon]="clock"></fa-icon> Temps : {{ raceResult }}</span>
        <div *ngFor="let medal of selectedRace.medals">
          <span class="medal" ><fa-icon [icon]="faMedal"></fa-icon> {{ medal.type}} : {{ medal.timeToObtain}}</span>
        </div>
      </div>
      <div *ngIf="raceResult" class="no-result">
        Votre temps est de {{raceResult}}.
      </div>
      <div *ngIf="minimalMedal && minimalMedal < raceResult" class="no-result">
        Vous n'obtenez aucune médaille, car il fallait faire moins de {{minimalMedal}}. Looser !
      </div>
      <div *ngIf="minimalMedal && middleMedal && minimalMedal >= raceResult && middleMedal < raceResult" class="no-result">
        Vous obtenez la médaille de bronze ({{minimalMedal}}) mais pas la médaille d'argent ({{middleMedal}}).
      </div>
      <div *ngIf="highMedal && middleMedal && middleMedal >= raceResult && highMedal < raceResult" class="no-result">
        Vous obtenez la médaille d'argent ({{middleMedal}}) mais pas la médaille d'or ({{highMedal}}).
      </div>
      <div *ngIf="highMedal && highMedal > raceResult" class="no-result">
        Vous obtenez la médaille d'or ({{highMedal}}). Félicitations.
      </div>
  </div>
</div>


