<div class="container">
  <h1 *ngIf="fetchStatus === 'success'">
    {{ ourTeam.name }} ({{ ourTeam.score }} - {{ ourTeam.coin }})

    <h1>Inventaire</h1>
    <div class="container" *ngIf="fetchStatus === 'success'">
      <div class="shop-grid">
        <app-item-card
          *ngFor="let item of ourTeamInventory.items"
          [item]="item.item!"
          [isEquipped]="item.isEquipped!"
          [displayButtonBuy]="false"
          [displayButtonEquip] ="true"
          [displayButtonSell] ="true"
          (equipItem)="equipItem(item.item!)"
          (sellItem)="sellItem(item.item!)"
        >
        </app-item-card>
      </div>
    </div>
  </h1>
</div>
